<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="./files/logo.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>

<body class="aboutbody">
    <nav>
        <a class="containerr" href="/views/index.html">
            <img src="./files/logo.png" class="logo" alt="Logo" title="culturizm">
            <span class="siteAdi">Culturizm</span>
        </a>
        <ul class="navbar">
            <li>
                <a href="/views/index.html">Ana menü</a>
                <a href="/views/muze.html">Müzeler</a>
                <a href="/views/otel.html">Oteller</a>
                <a href="/views/iletişim.html">İletişim</a>
                <a href="/views/hakkında.html">Hakkımızda</a>
            </li>
        </ul>
    </nav>

    <section class="about">
        <div class="main">
            <img src="./files/biz.jpeg" alt="My Photo">
            <div class="abt-text">
                <h1>Ekibimiz <span>Hakkında</span></h1>
                <p>Okan Kılçarslan, Yunus Altın, M. Selim Dayanç ve Tayfun Kaydı tarafından geliştirilen Culturizm,
                    HTML, CSS ve JavaScript kullanılarak
                    tasarlanan bir seyahat web sitesi projesidir..</p>
                <a href="#" class="connectbtn">Bizimle Bağlantı Kurun!</a>

                <div class="connect-section">

                    <div class="social-icons">
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-wordpress'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-amazon'></i></a>
                    </div>

                </div>
            </div>


        </div>


    </section>


    <!-- Footer -->

    <!-- Footer -->

    <section class="footer">
        <div class="foot">
            <div class="footer-content">

                <div class="footlinks">
                    <h4>Linkler</h4>
                    <ul>
                        <li><a href="./muze.html"> Müzeler</a></li>
                        <li><a href="./otel.html">Oteller</a></li>
                        <!-- <li><a href="#">Tur Rehberim</a></li> -->
                    </ul>
                </div>

                <div class="footlinks">
                    <h4>Bağlantılar</h4>
                    <div class="social">
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-wordpress'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="end">
            <p>Copyright © 2023 Culturizm Travels All Rights Reserved.<br>Website developed by: fourTech</p>
        </div>
    </section>

</body>

</html>